@model StatTracker.Models.GameDetail

@{
    ViewData["Title"] = "Manage Player Stats | ";
}

<!--Delete a player stat-->

<h1>Delete Player Stat</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rebounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rebounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class = "col-sm-2">
            Player Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.PlayerName)
        </dd class>
        <dt class = "col-sm-2">
            Date Of Game
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameDate)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GameDetailId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="text-dark" asp-action="Index">Back to List</a>
    </form>
</div>
