@model StatTracker.Models.GameDetail

@{
    ViewData["Title"] = "Manage Player Stats | ";
}


<!--Player stat details page-->

<h1 class="mt-5">Player Stat Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rebounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rebounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class = "col-sm-2">
            Player Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.PlayerName)
        </dd>
        <dt class = "col-sm-2">
            Date Of Game
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameDate)
        </dd>
    </dl>
</div>
<div>
    <a class="text-dark" asp-action="Edit" asp-route-id="@Model.GameDetailId">Edit</a> |
    <a class="text-dark" asp-action="Index">Back to List</a>
</div>
