@model IEnumerable<StatTracker.Models.Game>

@{
    ViewData["Title"] = "Manage Games | ";
}

<!--Header-->
<div class="d-flex flex-row my-5">
    <h1 class="text-dark mr-4">Manage Games</h1>
    <a class="text-dark align-self-center" asp-action="Create">
        Create New
       <img class="mr-2 align-bottom" src="~/assets/add_black_24dp.svg" />
    </a>
</div>

<!--Table-->
<table class="table">
    <thead>
        <tr>
            <th>
                Game Location
            </th>
            <th>
                Game Date
            </th>
            <th>
                Game Type
            </th>
            <th>
                Opponent
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameId"><img src="~/assets/edit_black_24dp.svg" /></a> |
                <a asp-action="Details" asp-route-id="@item.GameId"><img src="~/assets/info_black_24dp.svg" /></a> |
                <a asp-action="Delete" asp-route-id="@item.GameId"><img src="~/assets/delete_black_24dp.svg" />Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
