@model IEnumerable<StatTracker.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Players</h1>

<div class="d-flex flex-row my-5">
    <h1 class="text-dark mr-4">Manage Games</h1>
    <a class="text-dark align-self-center" asp-action="Create">
        Create New
        <img class="mr-2 align-bottom" src="~/assets/add_black_24dp.svg" />
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerHeightCm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerHeightCm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
